<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESP_Env_monitor</title>
    <script type="text/javascript" src="../../../dist/index.js"></script>
    <style>
      html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        font-family: 'Noto Sans JP';
      }
    </style>
  </head>
  <body style="background: rgb(58, 58, 58)">   
    <div id="contents"></div>
  </body>
</html>