#define WIFI_CONF_DIR  "/wifi.conf"
#define BLE_WIFI_CONNECT_PERMMISION "aaaa"
#define BLE_WIFI_DISCONNECT_PERMMISION "aaaa"

#define DEVICE_NAME "ESP_env_monitor"
#define SERVICE_UUID "********-****-****-****-************"
#define CHARACTERISTIC_UUID "********-****-****-****-************"
#define WIFI_CONFIG_POST_CHARACTERISTIC_UUID "********-****-****-****-************"
#define WiFI_STATUS_CHARACTERISTIC_UUID "********-****-****-****-************"
#define WIFI_AP_CONNECT_CHARACTERISTIC_UUID "********-****-****-****-************"
#define WIFI_AP_DISCONNECT_CHARACTERISTIC_UUID "********-****-****-****-************"

#define DEBUG_SERVICEUUID "********-****-****-****-************"
#define GET_WIFI_AP_CONFIG_CHARACTERISTIC_UUID "********-****-****-****-************"

char APSSID[] = "ESP_env_monitor";
char APPASS[] = "********"; 
char SSID[] = "****";
char PASS[] = "********";